<!DOCTYPE html>
<html>
    <head>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
            <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
            <script src="{{ url_for('static', filename='jquery/js/jquery.min.js') }}" ></script>
            <script src="{{ url_for('static', filename='popper/js/popper.min.js') }}"></script>
            <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
            <title>Tracker | {% block title %}{% endblock %}</title>
            {% block head %}
            {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-dark bg-complimentary">
            <ul class="navbar-nav mr-auto flex-row justify-content-between">
                <li class="nav-item mr-3">
                    <a class="nav-link {% if context.route == 'entry' %}active{% endif %}" href="/">Entry</a>
                </li>
                {% for user in context.users %}
                    <li class="nav-item mr-3">
                        <a class="nav-link {% if context.route == 'progress' + user.name %}active{% endif %}" href="/progress/{{ user.id|string }}">{{ user.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </nav>

        <div class="container">
            <div class="row">
                <div class="col mt-2">
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-info alert-dismissible fade show" role="alert">
                                    {{ message }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>
            </div>
            <div class="row">
                <div class="col text-center my-4">
                    <h2>{% block heading %}{% endblock %}</h1>
                </div>
            </div>
            {% block content %}{% endblock %}
            <div class="row">
                <div class="col mb-3">
                </div>
            </div>
        </div>
    </body>
</html>