<!DOCTYPE html>
<html>
    <head>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
            <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
            <title>Tracker | {% block title %}{% endblock %}</title>
            {% block head %}
            {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-dark bg-complimentary">
            <ul class="navbar-nav mr-auto flex-row justify-content-between">
                <li class="nav-item mr-3">
                    <a class="nav-link active" href="#">Entry</a>
                </li>
                <li class="nav-item mr-3">
                    <a class="nav-link" href="#">Jerita</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Ash</a>
                </li>
            </ul>
        </nav>

        <div class="container">
            <div class="row">
                <div class="col mt-2">
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-info alert-dismissible fade show" role="alert">
                                    {{ message }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>
            </div>
            <div class="row">
                <div class="col text-center my-4">
                    <h2>{% block heading %}{% endblock %}</h1>
                </div>
            </div>
            {% block content %}{% endblock %}
            <div class="row">
                <div class="col mb-3">
                </div>
            </div>
        </div>
    </body>
</html>